<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Puestos de trabajo asalariados registrados</h5>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div class="mr-3">
                        <i class="pi pi-file-import text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Datos obtenidos del dataset "Datos Abiertos de Desarrollo Productivo".</span>
                </li>
                <li class="flex align-items-center py-2">
                    <div class="mr-3">
                        <i class="pi pi-server text-xl text-orange-500"></i>
                    </div>
                    <span class="text-700 line-height-3 overflow-wrap-break-word">Url: https://datos.produccion.gob.ar/dataset/puestos-de-trabajo-por-departamento-partido-y-sector-de-actividad/archivo/169245ff-f050-4601-9cea-aa36ef2d7f20</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Total mensual</h5>
            <span class="block text-600 font-medium mb-3">Años 2020, 2021 y 2022 separados</span>
            <p-chart type="line" [data]="dataGraficoMensual" [options]="lineOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Variación interanual</h5>
            <span class="block text-600 font-medium mb-3">Comparación años 2021 y 2022</span>
            <p-chart type="bar" [data]="dataGraficoInteranual" [options]="barOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 lg">
        <div class="card">
            <h5>Total mensual - <b>Puestos de empleo en Luján</b></h5>
            <span class="block text-600 font-medium mb-3">Período 2020 - 2021 - 2022</span>
            <p-chart type="line" [data]="dataGraficoMensualContiguo" [options]="lineContiguoOptions"></p-chart>
        </div>
    </div>

    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Total mensual - <b>Puestos de empleo en Luján</b></h5>
            <span class="block text-600 font-medium mb-3">Período 2020 - 2021 - 2022</span>
            <p-chart type="line" [data]="dataGraficoMensualContiguo" [options]="lineContiguoOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Variación interanual - <b>Puestos de empleo en Luján</b> </h5>
            <span class="block text-600 font-medium mb-3">Período 2021 - 2022</span>
            <p-chart type="bar" [data]="dataGraficoInteranualContiguo" [options]="barContiguoOptions"></p-chart>
        </div>
    </div>
</div>
