<div class="card">
    <h4>Puestos de trabajo asalariados registrados por departamento/partido y clae 2, sector privado.</h4>
    <p-table
        #dt1
        [value]="customers"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['clae2', 'codigo_departamento_indec', 'fecha', 'id_provincia_indec', 'puestos']"
        >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton label="Limpiar" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Fecha
                        <p-columnFilter type="date" field="fecha" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        CLAE 2
                        <p-columnFilter type="text" field="clae2" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Código Dpto INDEC
                        <p-columnFilter type="text" field="codigo_departamento_indec" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex align-items-center">
                        Id Provincia INDEC
                        <p-columnFilter type="text" field="id_provincia_indec" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:10rem">
                    <div class="flex align-items-center">
                        Puestos
                        <p-columnFilter type="numeric" field="puestos" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    {{ customer.fecha | date: 'dd/MM/yyyy' }}
                </td>
                <td>
                    {{ customer.clae2 }}
                </td>
                <td>
                    {{ customer.codigo_departamento_indec }}
                </td>
                <td>
                    {{ customer.id_provincia_indec }}
                </td>
                <td>
                    {{ customer.puestos }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">No se encontraron resultados.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
