<div class="info-fuente-informacion">
    <p>Fuente de información: CEP XXI y Subsecretaría de Planificación, Estudios y Estadísticas del Ministerio de Trabajo, Empleo y Seguridad Social de la Nación</p>
</div>
<div id="mapaT">
    <div class="floating-options">
        <span><b>Sector Productivo: </b></span>
        <p-dropdown [options]="opcionesSector" [(ngModel)]="valorSeleccionadoSector" [style]="{'width':'160px', 'margin-right':'1rem'}" (onChange)="applyFilter()"></p-dropdown>
    </div>
</div>
