<div class="grid">

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <span class="block text-500 font-medium">Dólar oficial ({{today}})</span>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-dollar text-green-500 text-xl"></i>
                </div>
            </div>
            <div class="grid" [style]="{'margin-bottom':'0.5rem'}">
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">${{dolarOficial ? dolarOficial.compra : '---'}}</div>
                    <span class="text-green-500 font-medium">Compra</span>
                </div>
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">${{dolarOficial ? dolarOficial.venta : '---'}}</div>
                    <span class="text-green-500 font-medium">Venta</span>
                </div>
            </div>
            <p>Fuente: BNA</p>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <span class="block text-500 font-medium">Dólar MEP ({{today}})</span>
                <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-dollar text-yellow-500 text-xl"></i>
                </div>
            </div>
            <div class="grid" [style]="{'margin-bottom':'0.5rem'}">
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">${{dolarMEP || '---'}}</div>
                    <span class="text-yellow-500 font-medium">Valor</span>
                </div>
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">{{variacionMEP}}</div>
                    <span class="text-purple-500 font-medium">Variación</span>
                </div>
            </div>
            <p>Fuente: RAVA Bursátil</p>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <span class="block text-500 font-medium">EMAE (febrero 2023)</span>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-chart-line text-purple-500 text-xl"></i>
                </div>
            </div>
            <div class="grid" [style]="{'margin-bottom':'0.5rem'}">
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">0,2%</div>
                    <span class="text-purple-500 font-medium">Var. interanual</span>
                </div>
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">0,0%</div>
                    <span class="text-purple-500 font-medium">Var. mensual</span>
                </div>
            </div>
            <p>Fuente: INDEC</p>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between">
                <span class="block text-500 font-medium">IPC (abril 2023)</span>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-wallet text-orange-500 text-xl"></i>
                </div>
            </div>
            <div class="grid" [style]="{'margin-bottom':'0.5rem'}">
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl"> 108,8%</div>
                    <span class="text-orange-500 font-medium">Var. interanual</span>
                </div>
                <div class="col-6 pb-0">
                    <div class="text-900 font-medium text-xl">8,4%</div>
                    <span class="text-orange-500 font-medium">Var. mensual</span>
                </div>
            </div>
            <p>Fuente: INDEC</p>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0" [style]="{'height':'134.57px'}">
            <div class="flex justify-content-between">
                <span class="block text-500 font-medium">Seleccione un DataSet</span>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-chart-line text-blue-500 text-xl"></i>
                </div>
            </div>
            <div class="grid">
                <div class="col-6 pb-0">
                    <p-dropdown [options]="opcionesDataSet" [(ngModel)]="dataSetSeleccionado" [style]="{'margin-right':'1rem'}" (onChange)="changeDataSet($event)"></p-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="dataSetSeleccionado === 'puestos-empleo'">
        <app-grafico-puestos-empleo></app-grafico-puestos-empleo>
    </div>

    <div class="col-12" *ngIf="dataSetSeleccionado === 'salarios'">
        <app-grafico-salarios></app-grafico-salarios>
    </div>

</div>

